/**
 * #.# Information Boxes Editor Styles...
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-wpproz-information-boxes {

  .outline-boxes .block-core-columns {
    border-radius: 0 40px 0 0;
    border: 1px solid $primary-color;
    padding: 30px;

    h2, h3, h4 { margin-top: 0; font-weight: 700}

  }

}
